<div class="card group">
	<div class="inner header">
		<h3>{{ group.name }}</h3>
		<div class="status">{{ group.stats[1] + group.stats[3] }} / {{ group.monitors | length }}</div>
	</div>
	{% for monitor in group.monitors %}
		{{ include("./monitor.twig") }}
	{% endfor %}
</div>