<div class="heartbeats">
	<div class="items">
		{% for heartbeat in monitor.heartbeats %}
			<div class="status-{{ heartbeat.status }}"></div>
		{% endfor %}	
	</div>
	<div class="time">
		<div>{{ "heartbeats.ago" | t({minutes: (monitor.heartbeats | first).time | timediffmin((monitor.heartbeats | last).time)}) }}</div>
		<div>{{ "heartbeats.now" | t }}</div>
	</div>
</div>