<div class="heartbeats">
	<div class="items">
		{% for heartbeat in monitor.heartbeats %}
			<div class="status-{{ heartbeat.status }}"></div>
		{% endfor %}	
	</div>
	<div class="time">
		<div>{{ (monitor.heartbeats | first).time | timeago((monitor.heartbeats | last).time) }}</div>
		<div>now</div>
	</div>
</div>