<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ config.title }}</title>
		<link rel="stylesheet" href="/style.css">
	</head>
	<body>
		<section>
			<h1>{{ config.title }}</h1>
			{% for group in publicGroupList %}
				{{ include('./group.twig') }}
			{% endfor %}
		</section>
	</body>
</html>